<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tech Suggester | Find, Learn, Promote and Help- All About Tech Stacks</title>
    <link rel="shortcut icon" href="templates/logo1.png" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#663fb5">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#663fb5">
    <link rel="stylesheet" href="templates/landio.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .material-icons.md-18 {
            font-size: 18px;
        }
        .material-icons.md-24 {
            font-size: 24px;
        }
        .material-icons.md-36 {
            font-size: 36px;
        }
        .material-icons.md-48 {
            font-size: 48px;
        }
    </style>
</head>

<body>

<!-- Navigation
================================================== -->



<!-- Hero Section
================================================== -->

<header class="bg-white bg-inverse text-xs-center center-vertically" role="banner">
    <div class="container">
        <h1 class="display-3"><img
                src="templates/name2.png" height="200px"
                style="margin-top: 20px;align-items: center;"></h1>
        <br>
      <h2 class="m-b-3" style="color: black">Find, Learn, Promote and Help- All About Tech Stacks</h2>
        <a class="btn btn-secondary-outline m-b-1" style="border-color: grey; color: saddlebrown" href="mailto:soni.suryansh11130@gmail.com" role="button">Contact Us!</a>
    </div>
</header>

<!-- Intro
================================================== -->


<!-- Features
================================================== -->



<!-- Testimonials
================================================== -->


<!-- Text Content
================================================== -->


<!-- News
================================================== -->


<!-- Sign Up
================================================== -->


<!-- Footer
================================================== -->

<footer class="section-footer bg-inverse" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="media">
                    <small class="media-body media-bottom">
                        &copy; Techsuggester 2017 <br>
                        Designed and developed by TechSuggester Inc.
                    </small>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="templates/landio.min.js"></script>
</body>
</html>
